{% extends '@App/layout.html.twig' %}

{% block body %}
    {% if 'ROLE_ADMIN' in app.user.roles %}
        {#{% if itemslist %}
    {% for item in itemslist %}
        {% if item.cword and item.id %}
            <div class="row mb-3">
                <div class="col-md-8 themed-grid-col">
                    {{ item.cword }}
                </div>
                #}{#  <div class="col-md-4 themed-grid-col">{{ item.id }}</div>#}{#
            </div>
        {% endif %}
    {% endfor %}
{% endif %}#}
{% if form %}
    {{ form_start(form) }}

    <ul class="words" data-prototype="{{ form_widget(form.words.vars.prototype)|e }}">
        {% for word in form.words %}
            <li>{{ form_row(word.cword) }}</li>
        {% endfor %}
    </ul>
    <div class="form-group">
        <div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-btn fa-floppy-o"></i> Save
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endif %}
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/app/css/grid.css') }}" rel="stylesheet">
{% endblock %}